<launch>
    <node pkg="project_isds" type="mgeo_pub.py" name="mgeo_pub"  />
    <node pkg="project_isds" type="gpsimu_parser.py" name="gpsimu_parser" />
    <node pkg="project_isds" type="global_path_pub.py" name="global_path"  />
    <node pkg="project_isds" type="local_path_pub.py" name="local_path_pub" />
    <node pkg="project_isds" type="acc_ctrl_pub.py" name="acc" />
    <node pkg="project_isds" type="ctrl_cmd_pub.py" name="ctrl_cmd_pub" />
    <node pkg="ssafy_2" type="traffic_light_pub.py" name="traffic_light_pub" />
    <node pkg="ssafy_2" type="intersection_decision.py" name="intersection_decision"  />
    <node pkg="project_isds" type="tf_pub.py" name="tf"  />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find project_isds)/rviz/kcity_rviz.rviz" />
</launch>
